<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="c:\temp\StatementAPI-Internal-Logs.txt">

  <targets>
    <target xsi:type="ColoredConsole" name="console" />

    <target xsi:type="File" name="allfile" fileName="c:\temp\StatementAPI-all-logs-${shortdate}.log"
        layout="${longdate}|${level}|${message}|${all-event-properties}|${exception:format=tostring}" />

    <target xsi:type="File" name="ownfile" fileName="c:\temp\StatementAPI-own-logs-${shortdate}.log"
        layout="${longdate}|${level}|${message}|${all-event-properties}|${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,allfile" />

    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownfile" />
  </rules>
</nlog>